{% if page.sidebar_second %}
<div class="new">
  <div class="hello">
    <a id="main-content"></a>
    {{ page.content }}
  </div> 
  <div class="nwhello">
    <aside class="col-sm-3" role="complementary">
        {{ page.sidebar_second }}
    </aside>
  </div>       
</div>
{% else %}
<div class="hello">
    <!-- <a id="main-content"></a> -->
    {{ page.content }}
</div> 
{% endif %}